<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <%- include head %>
    <link href="css/register.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <%- include menu %>
      <div>
        <button class="btn btn-default" data-toggle="modal" data-target="#myModal">新增公众号</button>
      </div>
      <table class="table table-striped">
        <thead>
          <th>AppID</th>
          <th>URL</th>
          <th>Token</th>
          <th>Operate</th>
        </thead>
        <tbody>
          <% accounts.forEach(function(account){%>
          <tr>
            <td><%=account.get('app_id') %></td>
            <td>http://excellent.leanapp.cn/weixin/<%=account.get('app_id') %></td>
            <td><%=account.id %></td>
            <td></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div> <!-- /container -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <form class="form-signin" method="post" action="addAccount" id="addAccount">
              <label for="AppId" class="sr-only">AppID</label>
              <input type="text" id="AppId" name="appid" class="form-control" placeholder="AppID" required="required"/>
              <label for="secret" class="sr-only">Secret</label>
              <input type="text" id="secret" name="secret" class="form-control" placeholder="Secret" required="required"/>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveAccount">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  $(document).ready(function(){
    $('#saveAccount').click(function(){
      $('#addAccount').submit();
      $('#myModal').modal('hide');
    });
  });
  </script>
</html>
