<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <%- include head %>
    <link href="css/register.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <%- include menu %>
      <div>
        <button class="btn btn-default" data-toggle="modal" data-target="#myModal">新增公众号</button>
      </div>
      <table class="table table-striped">
        <thead>
          <th>AppID</th>
          <th>URL</th>
          <th>Token</th>
          <th>Operate</th>
        </thead>
        <tbody>
          <% accounts.forEach(function(account){%>
          <tr>
            <input type="hidden" name="id" value="<%=account.id %>"/>
            <input type="hidden" name="app_id" value="<%=account.get('app_id') %>"/>
            <input type="hidden" name="app_secret" value="<%=account.get('app_secret') %>"/>
            <td><a href="#" class="itemlink"><%=account.get('app_id') %></a></td>
            <td>http://excellent.leanapp.cn/weixin/<%=account.get('app_id') %></td>
            <td><%=account.id %></td>
            <td><a href="wxmenu?appid=<%=account.get('app_id') %>&secret=<%=account.get('app_secret') %>&token=<%=account.get('access_token') %>&id=<%=account.id %>">菜单管理</a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div> <!-- /container -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <form class="form-signin" method="post" action="addAccount" id="addAccount">
              <input type="hidden" id="objectid" name="id" />
              <label for="AppId" class="sr-only">AppID</label>
              <input type="text" id="appid" name="appid" class="form-control" placeholder="AppID" required="required"/>
              <label for="secret" class="sr-only">Secret</label>
              <input type="text" id="secret" name="secret" class="form-control" placeholder="Secret" required="required"/>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveAccount">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  $(document).ready(function(){
    $('#saveAccount').click(function(){
      $('#addAccount').submit();
      $('#myModal').modal('hide');
      $('#objectid').value('');
    });
    $('.itemlink').click(function(){
      var parentdom = $(this).parent().parent();
      var id = $('input[name="id"]',parentdom).attr('value');
      var app_id = $('input[name="app_id"]',parentdom).attr('value');
      var app_secret = $('input[name="app_secret"]',parentdom).attr('value');
      $('#objectid').val(id);
      $('#appid').val(app_id);
      $('#secret').val(app_secret);
      $('#myModal').modal('show');
    });
  });
  </script>
</html>
