
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pay</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
</head>
<body ontouchstart="">
<div class="wxapi_container">
    <div class="lbox_close wxapi_form">
      <h3 id="menu-pay">生成订单</h3>
      <span class="desc">生成订单</span>
      <button class="btn btn_primary" id="createOrder">createOrder</button>
      <h3 id="menu-pay">微信支付接口</h3>
      <span class="desc">发起一个微信支付请求</span>
      <button class="btn btn_primary" id="chooseWXPay">chooseWXPay</button>
      <h3 id="menu-pay">jsapi 基础接口</h3>
      <span class="desc">JS api 验证</span>
      <button class="btn btn_primary" id="checkJsApi">checkJsApi</button>
      <input type="text" id="timestamp" />
      <input type="text" id="nonceStr" />
      <input type="text" id="package" />
      <input type="text" id="signType" />
      <input type="text" id="paySign" />
    </div>
</div>
</body>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!--
<script src="/zepto/1.0rc1/zepto.min.js"></script>
-->
<script src="/jquery/2.1.4/jquery.min.js"></script>
<script>
  /*
   * 注意：
   * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
   * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
   * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
   *
   * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
   * 邮箱地址：weixin-open@qq.com
   * 邮件主题：【微信JS-SDK反馈】具体问题
   * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
   */
  wx.config({
      debug: true,
      appId: '<%=appid %>',
      timestamp: <%=timestamp %>,
      nonceStr: '<%=nonceStr %>',
      signature: '<%= signature %>',
      jsApiList: [
        'checkJsApi',
        'chooseWXPay'
      ]
  });

  wx.error(function(res){
    alert(JSON.stringify(res));
  });


  wx.ready(function () {
    document.querySelector('#createOrder').onclick = function (){
      $.post('preorder',{appid: '<%=appid %>',openid:'<%=openid %>',order:'1' },
        function(data){
          $('#timestamp').val(data.timeStamp);
          $('#nonceStr').val(data.nonceStr);
          $('#package').val(data.package);
          $('#signType').val(data.signType);
          $('#paySign').val(data.paySign);
        },'json');
    }

    document.querySelector('#checkJsApi').onclick = function () {
      wx.checkJsApi({
        jsApiList: [
          'getNetworkType',
          'previewImage'
        ],
        success: function (res) {
          alert(JSON.stringify(res));
        }
      });
    };

    document.querySelector('#chooseWXPay').onclick = function () {
      /*
      wx.chooseWXPay({
        timestamp: 1414723227,
        nonceStr: 'noncestr',
        package: 'addition=action_id%3dgaby1234%26limit_pay%3d&bank_type=WX&body=innertest&fee_type=1&input_charset=GBK&notify_url=http%3A%2F%2F120.204.206.246%2Fcgi-bin%2Fmmsupport-bin%2Fnotifypay&out_trade_no=1414723227818375338&partner=1900000109&spbill_create_ip=127.0.0.1&total_fee=1&sign=432B647FE95C7BF73BCD177CEECBEF8D',
        signType: 'SHA1', // 注意：新版支付接口使用 MD5 加密
        paySign: 'bd5b1933cda6e9548862944836a9b52e8c9a2b69'
      });
      */
      WeixinJSBridge.invoke(
       'getBrandWCPayRequest', {
           "appId":"<%=appid %>",     //公众号名称，由商户传入
           "timeStamp": $('#timestamp').val(),         //时间戳，自1970年以来的秒数
           "nonceStr": $('#nonceStr').val(), //随机串
           "package": $('#package').val(),
           "signType":$('#signType').val(),         //微信签名方式：
           "paySign":$('#paySign').val() //微信签名
       },
       function(res){
           if(res.err_msg == "get_brand_wcpay_request：ok" ) {}     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
       }
   );
    };

  });

  // 10 微信支付接口


    /*
    wx.chooseWXPay({
      timestamp: 1414723227,
      nonceStr: 'noncestr',
      package: 'addition=action_id%3dgaby1234%26limit_pay%3d&bank_type=WX&body=innertest&fee_type=1&input_charset=GBK&notify_url=http%3A%2F%2F120.204.206.246%2Fcgi-bin%2Fmmsupport-bin%2Fnotifypay&out_trade_no=1414723227818375338&partner=1900000109&spbill_create_ip=127.0.0.1&total_fee=1&sign=432B647FE95C7BF73BCD177CEECBEF8D',
      signType: 'SHA1', // 注意：新版支付接口使用 MD5 加密
      paySign: 'bd5b1933cda6e9548862944836a9b52e8c9a2b69'
    });
    */


    /*
    WeixinJSBridge.invoke(
       'getBrandWCPayRequest', {
           "appId" : "wx2421b1c4370ec43b",     //公众号名称，由商户传入
           "timeStamp":"1395712654",         //时间戳，自1970年以来的秒数
           "nonceStr":"e61463f8efa94090b1f366cccfbbb444", //随机串
           "package":"prepay_id=u802345jgfjsdfgsdg888",
           "signType":"MD5",         //微信签名方式：
           "paySign":"70EA570631E4BB79628FBCA90534C63FF7FADD89" //微信签名
       },
       function(res){
           if(res.err_msg == "get_brand_wcpay_request：ok" ) {}     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
       }
   );
   */
</script>
</html>
